body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* #region Header */

/* #region LOGO (header) */
.nav .link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav .link-logo .logo-part {
  color: #2e2f42;
}

/* #endregion LOGO (header) */




.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion Header */

/* font-family: 'Roboto', serif;
font-family: "Raleway", serif; */

/*  */

.roboto-<uniquifier > {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.raleway-<uniquifier > {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* #region Footer */
.footer {
  background-color: #2e2f42;
}


/* #region LOGO (footer) */
.footer-logo .logo-part {
  color: #f4f4fd;
}

/* #endregion LOGO (footer) */

/* #endregion Footer */
